extends layout

block content
  h1= title
  p Welcome to #{title}
  select( id="deviceSelector" name="camera")
  br
  button( onclick="startVideo()") Start
  button( type="button" onclick="startVideo();") Start Video
  button( type="button" onclick="stopVideo();") Stop Video
  &nbsp;
  button( type="button" onclick="connect();") Connect
  button( type="button" onclick="hangUp();") Hang Up
  div
    video( id="local_video" autoplay style="width: 1240px; height: 960px; border: 1px solid black;")
    video( id="remote_video" autoplay style="width: 1240px; height: 960px; border: 1px solid black;")
  p SDP to send
    br
    textarea(id="text_for_send_sdp" rows="5" cols="60" readonly="readonly") SDP to send
  p SDP to recieve:&nbsp;
    button( type="button" onclick="onSdpText();") Receive remote SDP
    br
    textarea(id="text_for_receive_sdp" rows="5" cols="60")
  include footer
  include scripts
