extends layout

block content
  h1= title
  p Welcome to #{title}
  nav(id="links")
    p
      a(href="/self") self camera echo
      br
      a(href="/manual") manual hand shake
      br
      a(href="/auto") auto hand shake