script( src="/javascripts/init.js" type="text/javascript")
if title == 'Auto signal'
  script( src="/javascripts/autoConnect.js" type="text/javascript")
else
  script( src="/javascripts/trickle.js" type="text/javascript")