extends layout

block content
  h1= title
  p Welcome to #{title}
  button( onclick="startVideo()") Start
  button( type="button" onclick="stopVideo();") Stop Video
  select( id="deviceSelector" name="camera")
  br
  video( id="local_video" autoplay style="width: 320px; height: 240px; border: 1px solid black;")
  include footer
  if title == 'Self Camera'
    script( src="/javascripts/self.js" type="text/javascript")
  else
    script( src="/javascripts/selfOrg.js" type="text/javascript")